# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них
#*

# ---- ФАЙЛЫ ----
# Игнорирование по типу файла, будут игнорироваться во всех директориях
# Например /ADC_Example/Debug/ADC_Example.d
*.d
*.eep
*.elf
*.hex
*.lss
*.map
*.o
*.srec
# Игнорирование файла во ВСЕХ директориях
# Например /Ports_Example/Debug/makedep.mk
makedep.mk
Makefile
# Игнорирование конкретного файла ТОЛЬКО в корне проекта
# (корнём считается расположение файла .gitignore)
/Labs.atsuo

# ---- ДИРЕКТОРИИ ----
# Игнорирование всех файлов и папок в ЛЮБЫХ директориях с указанным именем
# Например /I2C_RTC_Example/Debug/Makefile
*/Debug/*
.vs

# ---- РАЗНОЕ ----
# Исключение из игнорирования
# Игнорирование ВСЕХ файлов и папок внутри директории /secret,
# за исключением файла /secret/free.txt, он не будет проигнорирован
#/secret/*
#!/secret/free.txt
# Игнорирование файла с именем, содержащим спецсимволы
# Например !readme!.txt
#\!readme!.txt
# Игнорирование всех JPG и JPEG файлов внутри директорий,
# которые начинаются на "h" и МОГУТ содержать ещё один символ после
# Например /images/h4/user.jpg, /images/h/company.jpeg
#/images/h?/*.jp?g